In [1]:
import pandas as pd

In [2]:
df = pd.read_sas('Customer_Segmentation_Data.sas7bdat')

df.head()

,Custid,Age,Income,Frq,Rcn,Mnt,Clothes,Kitchen,SmallAppliances,Toys,HouseKeeping,Education,Marital_Status,Gender,Dependents,PerNetPurch,PerCatPurch,Recomendation
0,10622.0,1951.0,95964.0,38.0,83.0,1603.0,69.0,1.0,28.0,1.0,1.0,b'Graduation',b'Whatever',b'M',1.0,34.0,66.0,5.0
1,3968.0,1937.0,97407.0,27.0,71.0,1139.0,52.0,0.0,41.0,1.0,6.0,b'Master',b'Whatever',b'F',0.0,20.0,80.0,4.0
2,9731.0,1978.0,73509.0,25.0,97.0,768.0,49.0,6.0,29.0,8.0,7.0,b'Master',b'Whatever',b'M',1.0,52.0,48.0,3.0
3,9970.0,1957.0,75733.0,20.0,74.0,597.0,68.0,5.0,15.0,4.0,8.0,b'Master',b'Whatever',b'M',1.0,30.0,70.0,3.0
4,4732.0,1960.0,84938.0,24.0,78.0,704.0,95.0,0.0,4.0,0.0,1.0,b'Master',b'Whatever',b'M',1.0,56.0,44.0,3.0

In [3]:
df.shape

(9000, 18)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Custid           9000 non-null   float64
 1   Age              9000 non-null   float64
 2   Income           8954 non-null   float64
 3   Frq              9000 non-null   float64
 4   Rcn              9000 non-null   float64
 5   Mnt              9000 non-null   float64
 6   Clothes          9000 non-null   float64
 7   Kitchen          9000 non-null   float64
 8   SmallAppliances  9000 non-null   float64
 9   Toys             9000 non-null   float64
 10  HouseKeeping     9000 non-null   float64
 11  Education        8953 non-null   object
 12  Marital_Status   8823 non-null   object
 13  Gender           9000 non-null   object
 14  Dependents       8718 non-null   float64
 15  PerNetPurch      9000 non-null   float64
 16  PerCatPurch      9000 non-null   float64
 17  Recomendation    9000 non-null   float64
dtypes: float64(15), object(3)
memory usage: 1.2+ MB